@import "../../../app/mixins";
@import "../../../app/variables";

.card_wrapper {
	width: $width-75-percent;
	height: 60vh;
	background-color: white;
	cursor: pointer;

	.image_wrapper {
		max-width: 100%;

		.card_image {
			width: 100%;
			object-fit: cover;
		}
	}

	.card_content {
		display: flex;
		flex-direction: column;
		align-content: space-between;
		flex-flow: wrap;
		margin-top: 10px;
		margin-left: 10px;
		padding: 10px;

		.card_title {
			font-size: 25px;
			color: #13547a;
		}

		.card_description {
			margin-top: 15px;
			font-size: 15px;
			font-weight: 600;
			line-height: 20px;
			color: #696f79;
		}

		.footer_wrapper {
			margin-top: 40px;
			font-size: 15px;
			font-weight: 500;

			.footer {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
			}

			.bold_footer {
				font-size: 17px;
				font-weight: bold;
			}

			.level_text {
				margin-left: 3px;
			}
		}
	}
}

@media (max-width: 600px) {
	.card_wrapper {
		height: 65vh;
	}
}
