@import "../../../app/mixins";
@import "../../../app/variables";

.slider {
	position: relative;
	width: $width-85-percent;
	height: 60dvh;
	margin: 0 auto;
	padding-top: 1.5rem;
	margin-bottom: 100px;
	border-radius: 10px;
	padding: 50px;
}

.right_arrow_container {
	position: absolute;
	right: 0;
	@include total-center;
	width: 55px;
	border-radius: $width-50-percent;
	background-color: rgba($color: $dark-alt-color, $alpha: 0.7);
}

.left_arrow_container {
	position: absolute;
	left: 0;
	@include total-center;
	width: 55px;
	border-radius: $width-50-percent;
	background-color: rgba($color: $dark-alt-color, $alpha: 0.7);
}
