@import "../variables";
@import "../mixins";

.snippet_tech_wrapper {
    width: 100%;
    @include total-center;
}

.snippet_tech_content {
    width: 60%;
    @include total-center;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 3em;
    margin-bottom: 3em;
}

.pils_button {
   @include pilsButton;
}

.snippet_card_container {
    @include total-center;
    flex-direction: column;
}

.snippet_card {
    @include snippetCard;
}

.snippet_card_heading {
    @include flex;
    gap: 1em;
    margin-bottom: 1em;
}

.snippet_card_img {
    width: 50px;
    height: 40px;
}

.snippet_card_paragraph {
    font-weight: 500;
	font-size: $font-size__paragraph;
}