@import "../../../variables";
@import "../../../mixins";

.containerFluid {
	width: 100%;
	padding: 2em;
}

.container {
	padding: 2em;
	color: $text-color;
	background-color: $bg-light-color;
	width: 90%;
	margin: 0 auto;
	border-radius: 10px;
}

.snippet_author {
	@include flex-v-center;
	gap: 0.5em;
}

.snippet_avatar {
	@include NoPicAvatar;
}

.snippet_article_content {
	width: 95%;
}

.article_text {
	@include articleText;
}
