.banner_title {
	color: white;
}

.image_background {
	position: relative;
	width: 100%;
	height: 100vh;
}

@media (min-width: 800px) {
	.responsive_image {
		top: 160;
	}
}

@media (min-width: 400px) {
	.responsive_image {
		max-width: 500px;
		height: 300px;
	}
}
