.grid_container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 10px;
	grid-template-areas:
		"section  . image1 image2"
		"section  . image1 image2";
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	color: white;
	margin-bottom: 50px;
}

@media (max-width: 800px) {
	.grid_container {
		grid-template-areas:
			"section . image1"
			"section . image2";
	}
}

.text_section {
	display: flex;
	flex-direction: column;
	grid-area: section;
	padding: 10px;

	.main_text {
		font-weight: bold;
		font-size: 25px;
	}
	.main_subtitle_text {
		font-size: 18px;
		letter-spacing: 5;
	}
}

.image_section1 {
	display: flex;
	flex-direction: column;
	grid-area: image1;
	margin-right: 5%;
}

.image_section2 {
	display: flex;
	flex-direction: column;
	grid-area: image2;
}

.main_subtitle_text_wrapper {
	margin-top: 40px;
}

.title {
	margin-top: 10px;
}
