.image_background {
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: url("../../../../public/images/bg/space-bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin-top: 4.7%;

	.space_background {
		position: absolute;
		width: 100%;
		height: 100%;
		background-image: url("../../../../public/images/bg/main-bg.png");
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.responsive_image {
		position: absolute;
		width: 250px;
		height: 250px;
		object-fit: cover;
		top: 180px;
		left: 350px;
	}

	.banner_title {
		position: absolute;
		z-index: 1;
		color: white;
		top: 550px;
		left: 500px;
		font-size: clamp(2rem, 5vw, 5rem);
	}
	@media (max-width: 1300px) {
		.banner_title {
			top: 450px;
			left: 450px;
		}
	}

	@media (max-width: 900px) {
		.banner_title {
			top: 430px;
			left: 280px;
		}
	}
	@media (max-width: 800px) {
		.banner_title {
			top: 370px;
			left: 260px;
		}
	}

	@media (max-width: 750px) {
		.banner_title {
			top: 295px;
			left: 220px;
		}
	}
	@media (max-width: 600px) {
		.banner_title {
			top: 295px;
			left: 150px;
		}
	}
}

@media (max-width: 1300px) {
	.image_background {
		position: relative;
		width: 1300px;
		height: 700px;
		background-image: url("../../../../public/images/bg/space-bg.jpg");
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		margin-top: 0;
		.space_background {
			position: absolute;
			width: 1300px;
			height: 700px;
			background-image: url("../../../../public/images/bg/main-bg.png");
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: cover;
		}

		.responsive_image {
			position: absolute;
			width: 250px;
			height: 250px;
			top: 280px;
			left: 320px;
		}
	}
}

@media (max-width: 1200px) {
	.image_background {
		position: relative;
		width: 1200px;
		height: 570px;

		background-image: url("../../../../public/images/bg/space-bg.jpg");
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		margin-top: 4.7%;
		.space_background {
			position: absolute;
			width: 1200px;
			height: 570px;
			background-image: url("../../../../public/images/bg/main-bg.png");
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: cover;
		}

		.responsive_image {
			position: absolute;
			width: 250px;
			height: 250px;
			top: 200px;
			left: 310px;
		}
	}
}
@media (max-width: 1024px) {
	.image_background {
		position: relative;
		width: 1024px;
		height: 550px;
		margin-top: 4.7%;
		background-image: url("../../../../public/images/bg/space-bg.jpg");
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;

		.space_background {
			position: absolute;
			width: 1024;
			height: 550px;
			background-image: url("../../../../public/images/bg/main-bg.png");
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: cover;
		}

		.responsive_image {
			position: absolute;
			width: 220px;
			height: 220px;
			top: 200px;
			left: 330px;
		}
	}
}
@media (max-width: 900px) {
	.image_background {
		position: relative;
		width: 900px;
		height: 500px;
		margin-top: 4.7%;
		background-image: url("../../../../public/images/bg/space-bg.jpg");
		background-position: 10% 90%;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;

		.space_background {
			position: absolute;
			width: 900px;
			height: 500px;
			background-image: url("../../../../public/images/bg/main-bg.png");
			background-position: 10% 90%;
			background-repeat: no-repeat;
			background-size: cover;
		}

		.responsive_image {
			position: absolute;
			width: 200px;
			height: 200px;
			top: 170px;
			left: 230px;
		}
	}
}
@media (max-width: 700px) {
	.image_background {
		position: relative;
		width: 700px;
		height: 350px;
		margin-top: 4.7%;
		background-image: url("../../../../public/images/bg/space-bg.jpg");
		background-position: 15% 20%;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;

		.space_background {
			position: absolute;
			width: 700px;
			height: 350px;
			background-image: url("../../../../public/images/bg/main-bg.png");
			background-position: 15% 20%;
			background-repeat: no-repeat;
			background-size: cover;
		}

		.responsive_image {
			position: absolute;
			width: 150px;
			height: 150px;
			top: 150px;
			left: 175px;
		}
	}
}

@media (max-width: 1200px) {
	.banner_title {
		top: 500px;
	}
}

@media (max-width: 1100px) {
	.banner_title {
		top: 450px;
	}
}

@media (max-width: 900px) {
	.banner_title {
		left: 200px;
	}
}
