@import "../../../app/variables";
@import "../../../app/mixins";

.container_button {
    width: 100%;
    margin: 0 auto;
    @include flex-h-center;
    margin: 2em 0em 2em 0em;
}

.button {
    @include outline-button;
    width: 300px;
    padding: 20px;
    font-size: 1em;
}

.button:hover {
    @include outline-button-hover;
}
