@import "variables";

@mixin button {
	width: 50%;
	padding: 10px 20px;
	border-radius: 10px;
	border: none;
	text-transform: uppercase;
	background-color: $secondary-color;
	font-weight: bold;
	font-size: 0.8em;
	cursor: pointer;
	margin-top: 2em;
}

@mixin outline-button {
	@include button;
	background: none;
	border: 1px solid var($secondary-color);
}
@mixin flex {
	display: flex;
}

@mixin flex-h-center {
	@include flex;
	justify-content: center;
}

@mixin total-center {
	@include flex-h-center;
	@include flex-v-center;
}

@mixin flex-v-center {
	@include flex;
	align-items: center;
}

@mixin flex-column {
	@include flex;
	flex-direction: column;
}
@mixin flex-v-center {
	display: flex;
	align-items: center;
}

