// ============================ COLORES ===================  //
$primary-color: #fe3da6;
$secondary-color: #56dbff;
$white-color: #fff;
$light-color: #edf3ff;
$bg-light-color: #edf3ff;
$text-color: #5e517f;
$grey-color: #696f79;
$dark-gray-color: #212222;
$terceary-color: #13547a;
$dark-alt-color: #233458;
$bg-color: #0e0619;

// ============================ TIPOGRAFIA ===================  //
$font-size__h1: clamp(2.5rem, 5vw, 5rem);
$font-size__title: clamp(1.5rem, 3vw, 5rem);
$font-size__blog_title: clamp(1.5rem, 3vw, 3rem);
$font-size__h3: 1.6rem;
$font-size__h4: 1.4rem;
$font-size__h5: 1.3rem;
$font-size__h6: 1.1rem;
$font-size__paragraph: 1.2rem;

// ============================ MARGENES / PADDINGS ===================  //
$padding-1: 1rem;
$padding-2: 2rem;
$margin-1: 1rem;
$margin-2: 2rem;
// ============================ WIDTH / HEIGHT ====================== //
$width-100vw: 100vh;
$width-100-percent: 100%;
$width-90-percent: 90%;
$width-85-percent: 85%;
$width-80-percent: 80%;
$width-75-percent: 75%;
$width-70-percent: 70%;
$width-65-percent: 65%;
$width-60-percent: 60%;
$width-50-percent: 50%;
$width-40-percent: 40%;
$width-30-percent: 30%;
$width-20-percent: 20%;
$width-10-percent: 10%;
$height-100vh: 100vh;
$height-100-percent: 100%;
