
:root {

    // ============================ COLORES ===================  //
    $primary-color: #FE3DA6;
    $secondary-color: #56DBFF;
    $white-color: #FFF;
    $grey-color: #696F79;
    $bg-color: #0E0619;

    // ============================ TIPOGRAFIA ===================  //
    $font-size__h1: clamp(2rem, 5vw, 5rem);
    $font-size__h2: 1.7rem;
    $font-size__h3: 1.6rem;
    $font-size__h4: 1.4rem;
    $font-size__h5: 1.3rem;
    $font-size__h6: 1.1rem;
    $font-size__paragraph: .9rem;

    // ============================ MARGENES / PADDINGS ===================  //
    $Padding-1: 1rem;
    $padding-2: 2rem;
    $margin-1: 1rem;

    // ============================ WIDTH / HEIGHT ====================== //
    $width-100vh: 100vh;
    $width-100-percent: 100%;
    $width-90-percent: 90%;
    $height-100vh: 100vh;
    $height-100-percent: 100%;

}
