
:root {

    // ============================ COLORES ===================  //
	$primary-color: #c52f5c;
    $secondary-color: #000000;
    $terceary-color: #13547a;;
    $alt-color: #000;
    $white-color: #000;
    $bg-color: #0e0619;


    // ============================ TIPOGRAFIA ===================  //
    $title-size:  1em;
    $subtitle-size: 1em;
    $paragraph-size:  1em;
    $line-height: 1em;
    $letter-spacing: 1em;

    // ============================ TAMANOS ====================== //
    $width-100: 100%;
    $width-90: 90%;
}
