
:root {

    // ============================ COLORES ===================  //
	$primary-color: #FE3DA6;
    $secondary-color: #56DBFF;
    $white-color: #FFF;
    $grey-color: #696F79;
    $bg-color: #0E0619;


    // ============================ TIPOGRAFIA ===================  //
    $title-size:  1em;
    $subtitle-size: 1em;
    $paragraph-size:  1em;
    $line-height: 1em;
    $letter-spacing: 1em;

    // ============================ TAMANOS (Estos dependen del elemento padre) ====================== //
    $width-100: 100%;
    $width-90: 90%;
    $height-100: 100%;
    $height-90: 90%;
    // ============================ TAMANOS (Medidas el viewport) ====================== //
    $width-100: 100vw;
    $width-90: 90vw;
    $height-100: 100vh;
    $height-90: 90vh;
}
