.main_title {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	margin-bottom: 50px;
	color: rgba($color: #ffffff, $alpha: 0.9);
	font-size: 5rem;
	font-weight: 900;
}
