@import "../../../app/variables";
@import "../../../app/mixins";



.main_title_wrapper {
	width: 90%;
	margin-right: auto;
	margin-left: auto;

	.main_title {
	    @include total-center;
		margin-top: 1em;
		margin-bottom: 50px;
		color: rgba($color: #ffffff, $alpha: 0.9);
		font-size: $font-size__h1;
		font-weight: 900;
	}
}
