
:root {
// COLORS //
  $primary-color: #35c6ff;
  $secondary-color: #de49af;
  $terceary-color: #2c406b;
  $white-color: #fff;
  $alt-color: #ff9100;
  $bg-color: #132142;

    // FONTS //
  $title__size: 1.3rem;
  $paragraph__size: .9rem;
  $h1__size: 2rem;
  $h2__size: 1.7rem;
  $h3__size: 1.6rem;
  $h4__size: 1.4rem;
  $h5__size: 1.3rem;
  $h6__size: 1.1rem;
}

