@import "../../../app/mixins";
@import "../../../app/variables";

.banner_header_wrapper {
  width: $width-100-percent;
  height: 300px;
  @include total-center;
  color: $white-color;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  padding-top: 4em;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.banner_content {
  width: $width-90-percent;
}

