@import "../variables";
@import "../mixins";


.container {
  padding: 3em 0em 3em 0em;
  width: $width-90-percent;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  max-width: 100%;
}
.articleCardWrapper {
  width: $width-100-percent;
  margin-bottom: 1.3em;
  max-width: 100%;
}

@media screen and (max-width: 467px){
  .container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}