@import "../variables";
@import "../mixins";


.links__wrapper {
  width: 100%;
}

// Estilos del select personalizado
.link__select {
  background-color: $primary-color;
  border-radius: 4px;
  border: none;
  color: black;
  font-size: 16px;
  padding: 8px 10px;
  width: 280px;
  text-align: center;
  margin: 1em;
}