.navbar_wrapper {
	position: fixed;
	top: 0;
	z-index: 1;
	background-color: #0e0619;
	width: 100%;
	height: 8vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.navbar_logo {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	margin-left: 5%;
}
.navbar_pages {
	width: 40%;
	margin-right: 5%;
}

.navbar_list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	color: white;
	font-size: 1.3rem;
	list-style: none;
	flex-wrap: wrap;
	font-weight: 100;
}

.navbar_item:hover {
	cursor: pointer;
}

.mobile_logo_image {
	display: none;
}

@media (max-width: 600px) {
	.mobile_logo_image {
		display: flex;
		justify-content: center;
		align-items: center;
		display: block;
		cursor: pointer;
		color: white;
		border-radius: 5px;
		margin-right: 4%;
	}
}

@media (max-width: 600px) {
	.logo_image {
		display: none;
	}
}

@media (max-width: 1200px) {
	.navbar_pages {
		width: 50%;
	}
}
@media (max-width: 1024px) {
	.navbar_pages {
		width: 65%;
	}
	.navbar_list {
		font-size: 1.3rem;
	}
}

@media (max-width: 950px) {
	.navbar_pages {
		width: 55%;
	}
	.navbar_list {
		font-size: 1.2rem;
	}
}
@media (max-width: 800px) {
	.navbar_pages {
		width: 60%;
	}
	.navbar_list {
		font-size: 1.1rem;
	}

	.logo_image {
		width: 120px;
		height: 90px;
	}
}

@media (max-width: 600px) {
	.navbar_pages {
		display: none;
	}
}
