@import "../variables";
@import "../mixins";

.main_snippet {
    width: 80%;
    @include total-center;
    flex-direction: column;
    margin: 0 auto;
    color: $white-color;
}

.h1 {
    color: $white-color;
    font-size: $font-size__h1;
    .h1_span {
        color: $secondary-color;
    }
}


.headings_snippets_text {
    color: $white-color;
    margin: 1rem 0rem 1rem 0rem;
    width: 80%;
    font-size: $font-size__h5;
    text-align: center;
}


.headings_links_container {
    width: 80%;
    @include flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}

.snippetHeadingLinks {
   @include snippetButton;

}

.snippetHeadingLinks:hover {
    background-color: $secondary-color;
    color: $bg-color;
    transition: all .5s ease-in-out;
}


.divider {
    width: 80%;
    height: 1px;
    background-color: $dark-alt-color;
    margin: 2em;
}