.slider {
	background-color: rgba($color: #ffffff, $alpha: 0.8);
	width: 90%;
	height: 55vh;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1.5rem;
	margin-bottom: 100px;
	border-radius: 10px;
}
